<div class="card" data-cid={{cid}}>
    <div class="card-header">
        <span class="delete">&times;</span>
        <h4 class="card-title">{{card_title}}</h4>
        {{#each card_label}}
            <div class="card-label" data-labelid={{@key}}>{{this}}</div>
        {{/each}}
    </div>
    <div class="card-body">
        <p class="card-content">{{card_content}}</p>
    </div>
</cid>
